################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/муравейник/FileContentIndex/37625768-ded0-4594-a20a-969c3fa308af.vsidx
.vs/
